<div class="body">
	<div class="container">{{'Rounds ' + trackRounds +' '}}{{'PLAYER '+ trackPlayer }}
		<div class="row">
			<div class="col-12">
				<div ng-repeat="player in players">{{player}}
					<h3 ng-class="{'selected': player.selected}">{{player.name}}</h3>
					<h3>{{"HANDS: " + player.points}}</h3>
					<form ng-submit="submit(input, player)">{{input}}
						<input ng-model="input" type="number">
					</form>
					{{'TOTAL SCORE: '+ player.totalScore}}
					{{'HANDS'+ player.hands}}
				</div>
			</div>
		</div>
	</div>
</div>